body {
	margin: 0px;
	padding: 0px;
	background-color: #382334;
	color: #4C8482;
	position: relative;
}
#parallax {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#background {
	width: 100%;
	height: 300%;
	z-index: -1;
	background-image: url("./img/Veil_Nebula.jpg");
	background-size: 100% auto;
	-webkit-transform: translateZ(-1px);
	transform: translateZ(-1px);
	position: absolute;
	top: 120%;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateZ(-1px) scale(2);
}
.txtblock {
	width: 100%;
	margin: 450px 0 0;
	padding: 1px 0px;
	background-color: #382334;
	min-height: 100%;
	max-height: 100%;
	position: relative;
}
#topbar h1 {
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	font-size: 3em;
}
.txtblock h3 {
	margin: 20px;
	font-size: 2em;
}
.txtblock p {
	margin: 20px;
	font-size: 1.5em;
}
.txtblock dl {
	margin: 20px;
	font-size: 1.5em;
}
#titlelogo {
	height: 8em;
	display: inline-block;
}
#topbar {
	min-height: 0px;
	width: 100%;
	padding: 1px 0px;
	background-color: #382334;
}
.fore {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 100%;
    margin-bottom: 1px;
}
.centeredimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#bid {
	max-height: 80%;
	max-width: 80%;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	margin: auto;
	font-size: 1.5em;
}
th, td:nth-child(1) {
	background-color: #454132;
}
tr:nth-child(even) {
	background-color: #844679;
}
tr:nth-child(odd) {
	background-color: #382334;
}
